simplejson
flask
flask_bcrypt
elasticsearch
python-magic
requests
apscheduler
humanfriendly
chardet
fonttools
brotli
unicodedata2
pdfminer.six
ebooklib
html2text
docx2txt
xlrd
six
cairosvg
ffmpeg-python