{% extends "layout.html" %}
{% set active_page = "dashboard" %}

{% block body %}

    <div class="container">
        <div class="card">
            <div class="card-header">Information globale</div>
            <div class="card-body">
                <table class="info-table table-hover table-striped">
                    <tbody>
                    <tr>
                        <th>Version</th>
                        <td><pre>{{ version }}</pre></td>
                    </tr>
                    <tr>
                        <th>Taille totale des miniatures</th>
                        <td><pre>{{ tn_size_total }}</pre></td>
                    </tr>
                    <tr>
                        <th>Nombre de documents totals</th>
                        <td><pre>{{ doc_count }}</pre></td>
                    </tr>
                    <tr>
                        <th>Taille totale des documents indexés</th>
                        <td><pre>{{ doc_size }}</pre></td>
                    </tr>
                    <tr>
                        <th>Taille totale de l'index</th>
                        <td><pre>{{ index_size }}</pre></td>
                    </tr>
                    <tr>
                        <th>Nombre d'utilisateurs</th>
                        <td><pre>1</pre></td>
                    </tr>
                    <tr>
                        <th>Chemin de la base de donnée SQLite</th>
                        <td><pre>{{ db_path }}</pre></td>
                    </tr>
                    <tr>
                        <th>Adresse Elasticsearch</th>
                        <td><pre>{{ elasticsearch_url }}</pre></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="card-footer text-muted">Changez les paramètres dans <b>config.py</b></div>
        </div>

        <div class="card">
            <div class="card-header">Actions</div>
            <div class="card-body">
                <button class="btn btn-danger" onclick="resetAll()">
                    <i class="fas fa-exclamation-triangle"></i> Réinitialiser l'index elasticsearch
                </button>
            </div>
        </div>
    </div>

    <script>
        function resetAll() {
            if (confirm("Cela va entièrement réinitialiser l'index et ses documents devrons être réindexés.\n\n" +
                    "Voulez-vous procéder?")) {
                window.location = "/reset_es"
            }
        }
    </script>

{% endblock body %}