{% extends "layout.html" %}

{% block title %}An Excellent title{% endblock title %}

{% block body %}
    <div class="container">

        {# Add directory form #}
        <div class="card">
            <div class="card-header">An excellent form</div>
            <div class="card-body">

                <form method="GET" action="/directory/add">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Display name" name="name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Absolute path" name="path">
                    </div>
                    <button type="submit" class="btn btn-success">Add Directory</button>
                </form>

            </div>
        </div>

        {# List of directories #}
        <div class="card">
            <div class="card-header">An excellent list</div>
            <div class="card-body">

                <table class="info-table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Display Name</th>
                        <th>Path</th>
                        <th>Enabled</th>
                        <th>Last indexed</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dir in directories %}
                        <tr>
                            <td>{{ directories[dir].name }}</td>
                            <td><pre style="width: 80%">{{ directories[dir].path }}</pre></td>
                            <td><i class="far {{ "fa-check-square" if directories[dir].enabled else "fa-square" }}"></i></td>
                            <td>2018-02-21</td>
                            <td><a href="directory/{{ dir }}" class="btn btn-primary">Manage</a> </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>

            </div>
        </div>
    </div>
{% endblock body %}