{% extends "layout.html" %}

{% block body %}

    <link rel="shortcut icon" href="/thumb/{{ directory.id }}/{{ doc_id }}" type="image/jpeg">

    <div class="container">

        <div class="card">

            <div class="card-header">{{ doc.name }}</div>
            <div class="card-body">
                <h3>Document properties</h3>

                <table class="info-table table-hover table-striped">
                    <tbody>

                    {% for key in doc %}
                        <tr>
                            <th>{{ key }}</th>
                            <td><pre>{{ doc[key] }}</pre></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <hr>

                <h3>Raw json</h3>
                <textarea class="form-control" style="min-height: 100px" readonly>{{ doc | tojson }}</textarea>

                <hr>

                <h3><a href="/directory/{{ directory.id }}">Directory</a></h3>
                <table class="info-table table-hover table-striped">
                    <tbody>

                    <tr>
                        <th>Path</th>
                        <td><pre>{{ directory.path }}</pre></td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td><pre>{{ directory.name }}</pre></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>


{% endblock body %}