{% extends "layout.html" %}

{% set active_page = "user" %}
{% block title %}Liste des utilisateurs{% endblock title %}

{% block body %}

    <div class="container"> <div class="card">
            <div class="card-header">Créer un utilisateur</div>
            <div class="card-body">

                {% if not admin_account_present %}
                    <p>Cette page est débloquée parce qu'il n'y a aucun compte administrateur</p>
                {% endif %}

                <form method="POST" action="/user/add">

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <label for="is_admin" style="margin: 0 8px 0 0">Administrateur</label>
                                <input title="administrateur" type="checkbox" id="is_admin" name="is_admin">
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Nom d'utilisateur" name="username">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Mot de passe" name="password">
                    </div>
                    <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> Créer un utilissateur</button>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-header">Utilisateurs</div>
            <div class="card-body">

                <table class="info-table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Utilisateur</th>
                        <th>Administrateur</th>
                        <th>Actions</th>
                    </tr> </thead>
                    <tbody>
                    {% for user in users %} <tr>
                            <td style="width: 80%;">{% if session["username"] == user %}<b>{{ user }}{% else %}{{ user }}{% endif %}</b></td>
                            <td><i class="far {{ "fa-check-square" if users[user].admin else "fa-square" }}"></i></td>
                            <td><a href="/user/{{ user }}" class="btn btn-primary">Gérer</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>

            </div>
        </div>

    </div>

{% endblock body %}